.overview{
    display: grid;
    grid-template-areas: 'carousel offer1''carousel offer2';
    gap:30px;
    text-align: center;
    padding: 30px;
}

.carousel{
    grid-area: carousel;
    background-color: red;

}
.offer1{
    grid-area: offer1;
    background-color: red;

}
.offer2{
    grid-area: offer2;
    background-color: red;
}


@media only screen and (max-width: 800px) {

    .overview{
        grid-template-areas: 'carousel''offer1''offer2'
    }


}

